:root {
  --default-primary: #f22539;
  --dark-primary: #c00e20;

  --default-secondary: #eca539;

  --default-slate: #bfbfbf;
  --dark-slate: #5e5e5e;
  --extra-dark-slate: #353535;

  --default-smoke: #f9f9f9;
  --ligth-smoke: #f5f5f5;
  --medium-smoke: #e5e5e5;
  --dark-smoke: #e8e8e8;

  --white: #ffffff;
}
