:root {
  --default-primary: #F22539;
  --dark-primary: #C00E20;

  --default-secondary: #ECA539;

  --default-slate: #BFBFBF;
  --dark-slate: #5E5E5E;
  --extra-dark-slate: #353535;

  --default-smoke: #F9F9F9;
  --ligth-smoke: #F5F5F5;
  --dark-smoke: #E8E8E8;
}
